[deviceInterface]
instanceName: deviceInterface_1

# Path to the logfile
logfile: /var/log/smarthome/deviceInterface.log

# List of enabled devices (each of which must be described in its section)
enabled_devices = termostat-pis1, powermeter-pis1, termostat-pis2, powermeter-pis2

[server-mqtt]
host: my_mqtt_server.example.org
port: 8883
topic_prefix: not_so_dumb_home

ssl: yes
# if ssl is yes, put the Ca certificate used to validate the server here
cacert: /etc/not_so_dumb_home/serverca.crt

# Auth options: none, password, clientcert
auth: none

# If auth = password
username: deviceinterface1
password: letmein

# If auth = clientcert
clientcert: /etc/not_so_dumb_home/client.crt
# Note: The private key must NOT have a passphrase
clientkey: /etc/not_so_dumb_home/client.key


# Template of device:
[device-name]
	# Allowed types: thermostat, powermeter
	type: <device-type>

	# Allowed models:
	## For powermeter:
	### sdm220
	## For thermostat:
	### rdf302
	model: <model-name>

	# Each driver may request its own configuration parameters, in addition 
	# to these common ones. Here's an example of each combination.

[termostat-pis1]
type: thermostat
model: rdf302
modbus-address: 1
outdoor_temp_topic: not_so_dumb_home/my_area/outdoor_temp

[termostat-pis2]
type: thermostat
model: rdf302
modbus-address: 3
outdoor_temp_topic: not_so_dumb_home/my_area/outdoor_temp

[powermeter-pis1]
type: powermeter
model: sdm220
modbus-address: 2
maxpower: 5750

[powermeter-pis2]
type: powermeter
model: sdm220
modbus-address: 4
maxpower: 5750
